@import './../../mixin.scss';

.start-screen {
    background-color: black;
    max-width: 100%;
    @include elementSize();
    @include dFlex();

    >img {
        width: 100vh;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    @include dFlex($ai: none);

    >img {
        width: 400px;
        height: auto;

        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}