@import './../../mixin.scss';

.player {
    @include dFlex($jc: none);
    background-color: rgb(50,50,50, 0.7);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 250px;

    >span {
        font-size: 32px;
        margin-left: 16px;
        color: white;
    }

    >img {
        @include elementSize($w: 70px, $h: 70px);
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}