@import './../../mixin.scss';

.player {
    @include dFlex($jc: none);
    @include elementSize($w: 100px, $h: 100px);
    background-color: orange;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 300px;

    >span {
        font-size: 32px;
        margin-left: 16px;
        color: white;
    }

    >img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}