@import './../../mixin.scss';

.field {
    @include dFlex();
    @include elementSize();
    max-width: 100%;
    background-image: url('/assets/img/game/board.jpg');

    >div {
        position: relative;

        >img {
            @include elementSize($w: 100px, $h: 130px);
            position: absolute;
        }
    }
}